[page-categories-content]{
	--background: url("../../../assets/images/background/bg-02.png") no-repeat center center / cover;
}

	ion-card {
		--background: #fff;
		opacity:0.8;
	}

	ion-card-title{
	font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
		font-weight: bold;
	}

	img{
		padding-top: 10px;
		height: 70vh;
		width: 50%;
		margin: auto;
		display: block;
		align-items: center;
	}

